# =========================
# App
# =========================
NODE_ENV=development
PORT=3000

# =========================
# JWT
# =========================
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1m
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# =========================
# Database
# =========================
# Docker
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/job_queue_db

# Local (optional)
# DATABASE_URL=postgresql://postgres:postgres@localhost:5433/job_queue_db

# =========================
# Redis
# =========================
# Docker
REDIS_URL=redis://:password123@redis:6379

# Production (Render / Upstash / etc)
# REDIS_URL=redis://username:password@host:port

# =========================
# Email (SMTP)
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
MAIL_FROM=noreply@app.com

# Brevo_api_key
MAIL_FROM=onboarding@resend.dev
BREVO_API_KEY=xkeysib-xxxxxxxxxxxx
# =========================
# Cloudinary
# =========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# =========================
# Bull Board Auth
# =========================
BULL_BOARD_USERNAME=admin
BULL_BOARD_PASSWORD=password

# =========================
# Output
# =========================
OUTPUT_PATH=./outputs